---
layout: default
title: Blog
---

<h1 class="blog-heading">blog</h1>

{% if site.posts.size > 0 %}
<ul class="post-list">
  {% for post in site.posts %}
  <li class="post-item" style="flex-wrap: wrap;">
    <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
    <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
    {% if post.description %}
    <p class="post-excerpt">{{ post.description }}</p>
    {% elsif post.excerpt %}
    <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 28 }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="empty-note">no posts yet.</p>
{% endif %}
